body {
  font-family: $font-family-monospace;
  background: url('../img/bg-image.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black,.3);
    z-index: -1;
  }
}
.card {
  .card-header {
    background-color: $card-header-bg-color;
    color: $card-header-txt-color;
  }
  .list-group-item {
    a {
      min-height: 50px;
      color: $link-color;
    }
    img {
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    span { padding: 0 0 0 60px; }
  }
  &.no-thumb {
    .list-group-item {
      span { padding: 0 60px; }
    }
  }
}